   {{#with this}}
   
       <img src='{{this.svg}}' alt='{{officialName}}' class='country-info__image'  />
        <p class='country-info__name'>{{officialName}}</p>
        <p class='country-info__data'><span class='country-info__data_bold'>Capital: </span> {{capital}}</p>
        <p class='country-info__data'><span class='country-info__data_bold'>Population: </span>{{population}}</p>
           <p class='country-info__data'><span class='country-info__data_bold'>Languages: </span>{{languages}}</p>

{{/with}}
